
.home-footer {
    margin-top: 60px;
    color: var(--grisOscuro);
}

.home-footer section.pago {
    margin-bottom: 50px;
    text-align: center;
}

.home-footer section.envio {
    margin-bottom: 50px;
    text-align: center;
}

.home-footer section.seguridad {
    margin-bottom: 40px;
    text-align: center;
}

.home-footer section.copyright {
    margin-left: 20px;
    margin-bottom: 20px;
}


.home-footer h4 {
    font-size: var(--tamañoTitulares);
  
}

    .home-footer p {
        font-size: var(--tamañoTextosGral);
        width: 80%;
        margin: auto;
    }

    .home-footer div i {
        color: var(--celeste);
        font-size: 2rem;
        margin-bottom: 10px;
        transition: color 2s, font-size 1s;
        transition-delay: 2ms;
    }

    .home-footer div i:hover {
        color: var(--verde);
        font-size: 2.5rem;

    }


@media (min-width: 361px){

    
    .home-footer {
       
width: 100%;
    }

    .home-footer section.pago {
    
    }

    .home-footer section.envio {
    
    }

    .home-footer section.seguridad {
    
    }

    .home-footer section.copyright {
    
    }


    .home-footer h4 {
 
  
    }

    .home-footer p {
    
    }

    .home-footer div i {
    
    }

    .home-footer div.footer-container {

        
       
        
    }   

}


/*-------------DESKTOP--------------------*/


@media (min-width: 769px) {

    .home-footer {
       
/* display: flex; */
       
/* width: 95%; */
       
/* padding: 0; */
       
/* flex-direction: row; */
    }

    .home-footer section.pago {
    
width: 33;
    }

    .home-footer section.envio {
    
    }

    .home-footer section.seguridad {
    
    }

    .home-footer section.copyright {
    
    }


    .home-footer h4 {
 
font-size: var(--tamañoPrecios);
 
}

    .home-footer p {
    
    }

    .home-footer div i {
    
    }


    .home-footer div.footer-container {

        
        margin: 0;
                
        width: 100%;
                
        display: flex;
        
        }   
}